@keyframes bell-shake {
    0%   { transform: rotate(0deg); }
    15%  { transform: rotate(-10deg); }
    30%  { transform: rotate(8deg); }
    45%  { transform: rotate(-6deg); }
    60%  { transform: rotate(4deg); }
    75%  { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }
  
  .bell-shake {
    display: inline-block;
    transform-origin: top center; /* دقیقا از بالا بچرخه */
    animation: bell-shake 2s ease-in-out infinite; /* سرعت ملایم‌تر */
  }
  