<section class="header">
    <div class="absolute top-1 left-1 z-10">
        <app-oclock class="hidden sm:block"></app-oclock>
    </div>
    <div
        class="absolute top-1 z-10 bg-[#ffdd0026] rounded px-[15px] h-[40px] xs:w-[90%] sm:w-auto xs:right-[5%] sm:right-1 flex justify-center items-center">
        <p class="m-0 text-[14px]">قیمت خرید هر گرم طلا: <span class="font-bold">75,211,190</span> ریال</p>
    </div>
    <div class="relative xs:h-[150px] sm:h-[200px] w-full bg-black bg-cover bg-center">
        <div id="particles" class="absolute inset-0 xs:h-[150px] sm:h-[200px]">
            <canvas class="particles-js-canvas-el"></canvas>
        </div>
        <p-megamenu #mega [model]="items"
            class="absolute top-1/2 sm:left-[10%] sm:right-[10%] xs:left-[4%] xs:right-[4%] -translate-y-1/2 z-10">
            <ng-template #start>
                <div class="inline-flex gap-3">
                    <img width="33" height="35" src="/image/baazar.svg" alt="logo" class="hidden sm:block">
                    @if (isShowSidbar) {
                    <div (click)="openSidebar()" class="p-megamenu-item-content flex justify-center items-center gap-2">
                        <span class="p-megamenu-item-label" data-pc-section="label">محصولات</span><i
                            class="pi pi-angle-down"></i>
                    </div>
                    }
                </div>
            </ng-template>
            <ng-template #end>
                <div class="inline-flex gap-2">
                    <theme-switcher />
                    <div class="w-8 h-8 border border-surface-200 dark:border-surface-600 rounded">
                        @if (hasItemsInShoppingList) {
                            <p-overlay-badge severity="danger" class="inline-flex">
                                <p-avatar icon="pi pi-shopping-cart" class="cursor-pointer bell-shake !flex items-center justify-center" (click)="onShoppingCartClick()"/>
                            </p-overlay-badge>
                        }@else {
                            <p-avatar icon="pi pi-shopping-cart" class="cursor-pointer" (click)="onShoppingCartClick()"/>
                        }
                    </div>
                    <p-button label="ورود" outlined size="small" icon="pi pi-user" (click)="loginComp.showDialog()" />
                </div>
            </ng-template>
        </p-megamenu>
    </div>
</section>
@if (isShowSidbar) {
<app-sidebar></app-sidebar>
}
<app-login #loginComp></app-login>