swiper-container {
    width: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 350px;
}

swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-slide {
    width: 50%;

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.slide-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    /* سیاه و سفید */
    transition: filter 0.3s ease, opacity 0.3s ease;
    opacity: 0.5;
    /* دلخواه برای کم‌رنگ بودن */
}

.slide-video:hover {
    filter: grayscale(0%);
    /* رنگ اصلی */
    opacity: 1;
    /* پررنگ شود */
}

.slide-text {
    position: absolute;
    top: 20px; /* فاصله از بالا */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5); /* نیمه شفاف برای بهتر دیده شدن */
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 6px;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}