<div class="sidebar">
    <p-drawer #drawerRef [(visible)]="visible" position="right" >
        <ng-template #headless>
            <div class="flex flex-col h-full">
                <div class="flex items-center justify-between px-6 pt-4 shrink-0">
                    <span class="inline-flex items-center gap-2">
                        <img width="50" height="50" src="/image/baazar.svg" alt="logo">
                    </span>
                    <span>
                        <p-button aria-label="close" type="button" (click)="closeCallback($event)" icon="pi pi-times" rounded="true"
                            outlined="true" styleClass="!h-7 !w-7"></p-button>
                    </span>
                </div>
                <div class="overflow-y-auto">
                    <ul class="list-none p-0 m-0 overflow-hidden">
                        @for (item of sidebarItems; track $index) {
                        @if (item.items) {
                        <li>
                            <a pRipple pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-slidedown"
                                leaveToClass="hidden" leaveActiveClass="animate-slideup"
                                class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                <i class="pi ml-2" [class]="item.icon"></i>
                                <span class="font-medium text-sm">خرید طلا</span>
                                <i class="pi pi-chevron-down mr-auto !text-[12px]"></i>
                            </a>
                            <ul
                                class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                @for (item of item.items; track $index) {
                                <li>
                                    <a pRipple pStyleClass="@next" enterFromClass="hidden"
                                        enterActiveClass="animate-slidedown" leaveToClass="hidden"
                                        leaveActiveClass="animate-slideup"
                                        class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                        <span class="font-medium text-sm">{{ item.label }}</span>
                                        <i class="pi pi-chevron-down mr-auto !text-[12px]"></i>
                                    </a>
                                    <ul
                                        class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                        @for (item of item.items; track $index) {
                                        <li>
                                            <a [routerLink]="item.routerLink" (click)="closeCallback($event)" pRipple
                                                class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                <span class="font-medium text-sm">{{ item.label }}</span>
                                            </a>
                                        </li>
                                        }
                                    </ul>
                                </li>
                                }
                            </ul>
                        </li>
                        } @else {
                        <li>
                            <a [routerLink]="item.routerLink" (click)="closeCallback($event)" pRipple
                                class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                <i class="pi ml-2" [class]="item.icon"></i>
                                <span class="font-medium text-sm">{{item.label}}</span>
                            </a>
                        </li>
                        }
                        }
                    </ul>
                </div>
                <div class="mt-auto">
                    <hr class="mb-4 mx-4 border-t border-0 border-surface" />
                    <a pRipple
                        class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle" />
                        <span class="font-bold">سینا ناصری</span>
                    </a>
                </div>
            </div>
        </ng-template>
    </p-drawer>
</div>